.portfolioCard{
    background: #222;
    border-radius: 6px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    width: 100%;
}
.portfolioCardItems{
    padding: 25px 35px;
}
.portfolioCardItems .text{
    font-weight: bold;
}
.portfolioImage{
    width: 100%;
    padding: 25px 35px 0px 35px;
    height: 13rem;
}
.portfolioDes{
    font-size: 13px;
    height: 7rem;
}
.uses{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    flex-wrap: wrap;
}
.uses p{
    border: 2px solid crimson;
    margin-left: 5px;
    padding: 1% 3%;
    margin-top: 5px;
}

.portfolioButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.portfolioButtons a{
    background-color: crimson;
    color: white;
    padding: 2% 6%;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 2px solid crimson;
}

.portfolioButtons a:hover{
    background-color: transparent;
    color: crimson;
}

@media only screen and (max-width: 1024px) {
    .portfolioCard{
        height: 25rem;
    }
    .portfolioImage{
        padding: 0px;
        height: 11rem;
    }
    .portfolioCardItems{
        padding: 15px 25px;
    }
    .portfolioDes{
        font-size: 12px;
    }
    .uses{
        display: none;
    }
}
@media only screen and (max-width: 860px) {
    .portfolioCard{
        height: 25rem;
    }
    .portfolioImage{
        height: 9rem;
    }
    .portfolioDes{
        font-size: 12px;
        height: 8.5rem;
    }
}


@media only screen and (max-width: 768px) {
    .carousel{
        display: grid;
        grid-template-columns: 50% 50% !important;
    }
    .portfolioCard{
        height: 23rem;
    }
    .portfolioImage{
        padding: 0px;
    }
    .portfolioDes{
        font-size: 11px;
        height: 6rem;
    }
    .uses{
        display: none;
    }
}
@media only screen and (max-width: 575px) {
    .portfolioDes{
        font-size: 11px;
        height: 7.5rem;
    }
    .portfolioCardItems{
        padding: 5px 15px;
    }
}

@media only screen and (max-width: 500px) {
    .carousel{
        display: grid;
        padding: 0 20px;
        grid-template-columns: 100% !important;
    }
    .portfolioCard{
        height: 25rem;
    }
    .portfolioImage{
        padding: 0px;
        height: 13rem;
    }
    .portfolioDes{
        font-size: 11px;
        height: 5rem;
    }
}