
.skillItems{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 20px;
    row-gap: 20px;
}
.skillContainer h1{
    text-align: center;
    font-size: 27px;
    margin-bottom: 20px;
}
.cardBox{
    text-align: center;
    height: 20rem;
    transition: all 0.3s ease;
}
.cardBox img{
    width: 40%;
    height: 40%;
}
.cardBox h3{
    font-size: 20px;
}
.cardBox p{
    font-size: 15px;
}
.skillCard{
    background-color: #222;
    color: white;
    padding: 5% 5%;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.skillCard:hover{
    background: crimson;

}
.skillCard:hover .cardBox{
    transform: scale(1.05);
}

@media only screen and (max-width: 1024px) {
    .cardBox img{
        width: 30%;
        height: 30%;
    }
    .cardBox p{
        font-size: 14px;
    }
    .skillItems{
        display: grid;
        padding: 0px 20px;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}
@media only screen and (max-width: 768px) {
    .cardBox{
        height: 15rem;
    }
    .cardBox img{
        width: 70px;
        height: 70px;
    }
    .cardBox p{
        font-size: 13px;
    }
    .skillItems{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (max-width: 650px) {
    .cardBox p{
        font-size: 11px;
    }
}
@media only screen and (max-width: 500px) {
    .cardBox p{
        font-size: 14px;
    }
    .skillItems{
        display: grid;
        padding: 0px 20px;
        grid-template-columns: 100%;
    }
}
@media only screen and (max-width: 425px) {
    
}