
/* home section styling */
.home{
    display: flex;
    background: url("../../assets/bg2.jpg") no-repeat center;
    background-color: black;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    justify-content: start;
    position: relative;
    z-index: 0;
}
.home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: -1;
}
.homeContainer{
    width: 60%;
    margin: 0 auto;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content .hire{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content .hire:hover{
    color: crimson;
    background: none;
}

.iconContainer{
    display: flex;
    align-items: center;
}
.iconContainer a{
    background-color: white;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 2px solid crimson;
}
.iconContainer a:hover{
    background-color: crimson;
    margin-top: -5px;
}
.iconContainer a svg{
    width: 55%;
    height: 55%;
    pointer-events: none;
}
.profileImg img{
    height: 30rem;
}

@media only screen and (max-width: 1250px) {
    .home .home-content .text-2{
        font-size: 55px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
    .home .home-content .hire{
        font-size: 20px;
        padding: 8px 36px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 1000px) {
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .homeContainer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .home{
        height: 30rem;
        display: flex;
        align-items: center;
    }
    .homeContainer{
        display: block;
    }
    .home .home-content .text-2{
        font-size: 45px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }
    .home .home-content .hire{
        font-size: 20px;
        padding: 8px 36px;
        margin-top: 10px;
    }
    .profileImg{
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .home .home-content .text-2{
        font-size: 35px;
    }
    .home .home-content .text-3{
        font-size: 20px;
    }
    .home .home-content .text-4{
        font-size: 15px;
    }
}
@media only screen and (max-width: 500px) {
    .home .home-content .hire{
        display: none;
    }
    .home .home-content{
        text-align: center;
    }
    .iconContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home{
        height: 20rem;
        display: flex;
        align-items: center;
    }
}